.root{
    -fx-background-color: orange;
}

/*
    Bottoni
*/

Button {
    -fx-cursor: HAND;
}

.aggiungi {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-radius: 4;
}

.aggiungi:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}


.rimuovi {
    -fx-background-image: url("../immagini/x1.png");
    -fx-background-size: 25 25;
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.rimuovi:hover {
    -fx-background-image: url("../immagini/x2.png");
    -fx-background-size: 25 25;
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}



/*
    Altre modifiche
*/

ImageView:hover {
    -fx-cursor: HAND;
}


ScrollPane, ListView, StackPane, TextField {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-insets: 1;
}

TextField {
    -fx-border-color: black;
}

#imageDnD {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.imgDnD {
    -fx-background-image: url("../immagini/DnD.png");
    -fx-background-size: 296 261;
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}
