.workImage{
    -fx-background-color: orange;
}


.contenitore {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-radius: 4;
}


#slideshow, ListView {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-radius: 4;
}

Button {
    -fx-cursor: HAND;
}

.scorri {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-radius: 4;
}

#destra {
    -fx-background-image: url("dx.png");
    -fx-background-size: 28 28;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

#sinistra {
    -fx-background-image: url("sx.png");
    -fx-background-size: 28 28;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.scorri:hover {
    -fx-background-color: yellow;
}

#up {
    -fx-background-image: url("up.png");
    -fx-background-size: 40 36;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: none;
}

#down {
    -fx-background-image: url("down.png");
    -fx-background-size: 40 36;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: none;
}

#left {
    -fx-background-image: url("left.png");
    -fx-background-size: 36 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: none;
}

#right {
    -fx-background-image: url("right.png");
    -fx-background-size: 36 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: none;
}

.zoom {
    -fx-background-color: white;
}



#zoomin {
    -fx-background-image: url("zoomin.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: white;
}

#zoomin:hover {
    -fx-background-color: yellow;
}

#zoomout {
    -fx-background-image: url("zoomout.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: white;
}

#zoomout:hover {
    -fx-background-color: yellow;
}